/Java/Unidad 1/Leccion 4/PrimerProyectoJava/nbproject/private/
/Java/Unidad 1/Leccion 4/PrimerProyectoJava/build/
/Java/Unidad 1/Leccion 5/MiPrimerProyectoJavaNetbeans/nbproject/private/
/Java/Unidad 1/Leccion 5/MiPrimerProyectoJavaNetbeans/build/
/Java/Unidad 1/Leccion 5/AtajosNetbeans/nbproject/private/
/Java/Unidad 1/Leccion 5/AtajosNetbeans/build/
/Java/Unidad 1/Leccion 5/JavaNetbeans/nbproject/private/
/Java/Unidad 1/Leccion 5/JavaNetbeans/build/
/Java/Unidad 1/Leccion 5/AlumnoJava/nbproject/private/
/Java/Unidad 1/Leccion 5/AlumnoJava/build/
/Java/Unidad 2/Leccion 1/Salidas/nbproject/private/
/Java/Unidad 2/Leccion 1/Salidas/build/
/Java/Unidad 2/Leccion 1/Salidas2/nbproject/private/
/Java/Unidad 2/Leccion 1/Salidas2/build/