/Java/Unidad 1/Leccion 4/PrimerProyectoJava/nbproject/private/
/Java/Unidad 1/Leccion 4/PrimerProyectoJava/build/
/Java/Unidad 1/Leccion 5/MiPrimerProyectoJavaNetbeans/nbproject/private/
/Java/Unidad 1/Leccion 5/MiPrimerProyectoJavaNetbeans/build/
/Java/Unidad 1/Leccion 5/AtajosNetbeans/nbproject/private/
/Java/Unidad 1/Leccion 5/AtajosNetbeans/build/
/Java/Unidad 1/Leccion 5/JavaNetbeans/nbproject/private/
/Java/Unidad 1/Leccion 5/JavaNetbeans/build/
/Java/Unidad 1/Leccion 5/AlumnoJava/nbproject/private/
/Java/Unidad 1/Leccion 5/AlumnoJava/build/
/Java/Unidad 2/Leccion 1/Salidas/nbproject/private/
/Java/Unidad 2/Leccion 1/Salidas/build/
/Java/Unidad 2/Leccion 1/Salidas2/nbproject/private/
/Java/Unidad 2/Leccion 1/Salidas2/build/
/Java/Unidad 2/Leccion 1/Entradas/nbproject/private/
/Java/Unidad 2/Leccion 1/Entradas/build/
/Java/Unidad 2/Leccion 1/FaroStadium/nbproject/private/
/Java/Unidad 2/Leccion 1/FaroStadium/build/
/Java/Unidad 2/Leccion 1/AsistenciaEmpleado/nbproject/private/
/Java/Unidad 2/Leccion 1/AsistenciaEmpleado/build/
/Java/Unidad 2/Leccion 1/ConsultorioMedico/nbproject/private/
/Java/Unidad 2/Leccion 1/ConsultorioMedico/build/
/Java/Unidad 2/Leccion 1/SalidasPorVentana/nbproject/private/
/Java/Unidad 2/Leccion 1/SalidasPorVentana/build/
/Java/Unidad 2/Leccion 2/Operadores1/nbproject/private/
/Java/Unidad 2/Leccion 2/Operadores1/build/
/Java/Unidad 2/Leccion 2/Operadores2/nbproject/private/
/Java/Unidad 2/Leccion 2/Operadores2/build/
/Java/Unidad 2/Leccion 2/OperacionesAritmeticas/nbproject/private/
/Java/Unidad 2/Leccion 2/OperacionesAritmeticas/build/
/Java/Unidad 2/Leccion 2/OperacionesLogicas/nbproject/private/
/Java/Unidad 2/Leccion 2/OperacionesLogicas/build/
/Java/Unidad 2/Leccion 3/CondicionalesIfElse/nbproject/private/
/Java/Unidad 2/Leccion 3/CondicionalesIfElse/build/
/Java/Unidad 2/Leccion 3/IfElseAnidado/nbproject/private/
/Java/Unidad 2/Leccion 3/IfElseAnidado/build/
/Java/Unidad 2/Leccion 3/RegularKilometraje/nbproject/private/
/Java/Unidad 2/Leccion 3/RegularKilometraje/build/
/Java/Unidad 2/Leccion 3/IdentificarDeporte/nbproject/private/
/Java/Unidad 2/Leccion 3/IdentificarDeporte/build/
/Java/Unidad 2/Leccion 3/SwitchMenu/nbproject/private/
/Java/Unidad 2/Leccion 3/SwitchMenu/build/
/Java/Unidad 2/Leccion 3/MenuEstudiante/nbproject/private/
/Java/Unidad 2/Leccion 3/MenuEstudiante/build/
/Java/Unidad 2/Leccion 4/CiclosFor/nbproject/private/
/Java/Unidad 2/Leccion 4/CiclosFor/build/
/Java/Unidad 2/Leccion 4/RestauranteFor/nbproject/private/
/Java/Unidad 2/Leccion 4/RestauranteFor/build/
/Java/Unidad 2/Leccion 4/IterativasWhile/nbproject/private/
/Java/Unidad 2/Leccion 4/IterativasWhile/build/
/Java/Unidad 2/Leccion 4/IterativasDoWhile/nbproject/private/
/Java/Unidad 2/Leccion 4/IterativasDoWhile/build/
/Java/Unidad 2/Leccion 4/IncrementaNumero/nbproject/private/
/Java/Unidad 2/Leccion 4/IncrementaNumero/build/
/Java/Unidad 2/Leccion 4/DoWhileEscuela/nbproject/private/
/Java/Unidad 2/Leccion 4/DoWhileEscuela/build/
/Java/Unidad 2/Leccion 4/Validar/nbproject/private/
/Java/Unidad 2/Leccion 4/Validar/build/
/Java/Unidad 2/Leccion 5/Excepciones1/nbproject/private/
/Java/Unidad 2/Leccion 5/Excepciones1/build/
/Java/Unidad 2/Leccion 5/MenuExcepciones/nbproject/private/
/Java/Unidad 2/Leccion 5/MenuExcepciones/build/
/Java/Unidad 2/Leccion 5/ValidarCadena/nbproject/private/
/Java/Unidad 2/Leccion 5/ValidarCadena/build/
/Java/Unidad 2/Leccion 5/MenuEjercicioExcepciones/nbproject/private/
/Java/Unidad 2/Leccion 5/MenuEjercicioExcepciones/build/